.videa-navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: var(--clr-videa-primary);
    z-index: 3;
    opacity: 0.98;
    padding-block: 0.3em;
    box-shadow: var(--shadow-videa-sharp);

}

.videa-navbar-box {
    width: 100%;
    height: 100%;
}

.searchbar-box {
    width: 100%;
}

.searchbar-image {
    width: 70%;
}

.searchbar-image-box {
    width: 2em;
    min-height: 2em;
    border-radius: 50%;
    background-color: var(--clr-videa-secondary);
    cursor: pointer;
}

.searchbar-image-box:hover {
    background-color: var(--clr-videa-secondary-light);
}

.videa-searchbar {
    width: 30%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    outline: none;
    min-height: 35px;
    text-indent: 1em;
}

.searcbar-icon-box {
    background-color: var(--clr-videa-bg);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    cursor: pointer;
    width: 1.5em;
    position: relative;
    height: 35px;
    padding-right: 0.5em;
}

.search-box-icon {
    position: absolute;
}

.footer-icon{
    cursor: pointer;
}

.logo-box {
    width: 15em;
    min-height: 100%;
    z-index: 100;
}

.logo {
    max-width: 75%;
}