.flex {
    display: flex;
}

.between{
    justify-content: space-between;
}

.center{
    align-items: center;
    justify-content: center;
}

.h-center{
    justify-content: center;
}

.v-center{
    align-items: center;
}

.border-white { 
    border: 1px solid white;
}
.pad {
    padding: 1vh;
}

.font-light {
    font-family:'Roboto-Thin', 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.font-bold {
    font-family:'Roboto Bold', 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}