@font-face {
  font-family: "Roboto";
  src: url('style/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: "Roboto Bold";
  src: url('style/fonts/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Light";
  src: url('style/fonts/Roboto-Light.ttf');
  font-weight: lighter;
}

@font-face {
  font-family: "Roboto Thin";
  src: url('style/fonts/Roboto-Thin.ttf');
  font-weight: 200;
}

*{
  margin: 0;
  padding: 0;
}

:root{
  --clr-videa-primary: #2c2c2e;
  --clr-videa-secondary: #c4c4c4;
  --clr-videa-secondary-light: #ceced1;
  --clr-videa-dark: #444446;
  --clr-videa-line: #363638;
  --clr-videa-bg: #fff;
}

html{
  width: 100%;
}

body{
  font-family:'Roboto', 'Segoe UI', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px !important;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-videa-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  position: relative;
}
